@charset "UTF-8";

*{
  padding: 0;
  margin: 0;
  list-style: none;
}

a{
  text-decoration: none;
  display: block;
}
img {
  width: 100%;
  display: block;
}

html,body{
  height: 100%;
}

.lt_container{
  width: 100%;
  height: 100%;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  position: relative;
  padding-top: 45px;
  padding-bottom: 55px;
}

.lt_header{
  width: 100%;
  height: 45px;
  position: absolute;
  top: 0;
  z-index: 999;
  background-color: #069;
}
.lt_header .hd_left,
.lt_header .hd_right {
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  position: absolute;
  top:0;
  color: #fff;
}
.lt_header .hd_left {
  left: 0;
}
.lt_header .hd_right {
  right: 0;
}
.lt_header .title h4 {
  height: 45px;
  text-align: center;
  color: #fff;
  line-height: 45px;
  margin: 0;
}


.lt_footer {
  width: 100%;
  height: 55px;
  position: absolute;
  bottom: 0;
  z-index: 999;
  background-color: #069;
}

.lt_footer li {
  float: left;
  width: 25%;
  text-align: center;
  padding-top: 10px;
}
.lt_footer li a{
  color: #fff;
}
.lt_footer li .desc{
  color: #fff;
  font-size: 12px;
  margin: 0;
}
.lt_footer li.now a{
  color: darkorange;
}
.lt_footer li.now .desc{
  color: darkorange;
}

.lt_main {
  width: 100%;
  height: 100%;
  background-color: #fff;
  /*可以保证，所有的内容全部都是在main内部*/
  overflow: hidden;
  /* 定位是因为区域滚动是用定位做的，若不用定位则区域滚动会依照浏览器页面定位 */
  position: relative;
}
