@charset "UTF-8";

.search_bottom {
  padding: 10px;
  font-size: 12px;
  color: #666;
}

.search_bottom .search_content ul {
  border-bottom: 1px dashed red;
  
}
.search_bottom .search_content li{
  height: 30px;
  border: 1px dashed red;
  border-bottom: none;
  padding: 0 5px;
  line-height: 30px;
}
.search_bottom .search_content li span {
  display: block;
  height: 30px;
  line-height: 30px;
}
